{% extends "base.html" %}

{% block css %}
    #node_info {
        height:100%;
    }
    #map{
        height:100%;
        min-height: 400px;
    }
    #packet_details{
        height: 95vh;
        overflow: scroll;
        top: 3em;
    }
    div.tab-pane > dl {
        display: inline-block;
       }

{% endblock %}

{% block body %}

{% include "search_form.html" %}

<div id="node" class="container text-center">
    <div class="container"
         {% if node %}
         hx-ext="sse"
         sse-connect="/events?node_id={{node_id}}{% if portnum %}&portnum={{portnum}}{% endif %}"
        {% endif %}
        >
        <div class="row">
            <div class="col mb-3">
                <div class="card" id="node_info">
                    {% if node %}
                    <div class="card-header" id="node_color">
                    <strong style="margin-right: 1em ; margin-left: 1em; font-size: x-large;">{{node.short_name}}</strong>
                    <p style="margin-bottom: 0px; font-size: large; font-weight: bold;">{{node.long_name}}</p>
                    </div>
                    <div class="card-body">
                        <dl >
                            {% if trace %}
                            <dd id="map"></dd>
                            {% endif %}
                            <dt>NodeID</dt>
                            <dd>{{node.node_id|node_id_to_hex}}</dd>
                            <dt>Channel</dt>
                            <dd>{{node.channel}}</dd>
                            <dt>HW Model</dt>
                            <dd>{{node.hw_model}}</dd>
                            <dt>Role</dt>
                            <dd>{{node.role}}</dd>
                            {% if node.firmware %}
                            <dt>Firmware</dt>
                            <dd>{{node.firmware}}</dd>
                            {% endif %}
                        </dl>
                        {% include "node_graphs.html" %}
                    </div>
                    {% else %}
                    <div class="card-body">
                        A NodeInfo has not been seen.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
           {% include "buttons.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col">
            {% include 'packet_list.html' %}
            </div>
            
        </div>
    </div>
</div>
<script>
    var node_color = document.getElementById('node_color');
    var node_id = '{{node.node_id | node_id_to_hex}}';
    var color = node_id.slice(-6);
    var bg_color = "#"+color;
    node_color.style.background = bg_color;
    var hex = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(bg_color);
    var text_color = [
        parseInt(hex[1], 16),
        parseInt(hex[2], 16),
        parseInt(hex[3], 16),
    ];

    const brightness = Math.round(((parseInt(text_color[0]) * 299) +
                      (parseInt(text_color[1]) * 587) +
                      (parseInt(text_color[2]) * 114)) / 1000);
    
    if (brightness > 125) {
        var textColor = '#212529'
        node_color.style.color = textColor
    }
     /*                  const textColor = (brightness > 125) ? '#212529' : 'white';
    node_color.style.color = textColor */


</script>

{% if trace %}
<script>
    var trace = {{trace | tojson}};
    var map = L.map('map').setView(trace[0], 13);
    var markers = L.featureGroup();
    markers.addTo(map);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    L.polyline(trace).addTo(map);
    L.marker(trace[0]).addTo(markers);
    {% for n in neighbors %}
    var m = L.circleMarker({{n.location | tojson}});
    m.bindPopup('SNR: {{n.snr}}<br/><a href="/packet_list/{{n.node_id}}">[{{n.short_name}}] {{n.long_name}} {{n.node_id | node_id_to_hex}}</a>');
    m.addTo(markers);
    L.polyline([trace[0], {{n.location | tojson}}], {color: 'red'}).addTo(map);
    map.fitBounds(markers.getBounds().pad(.7));
    {% endfor %}
</script>
{% endif %}

{% endblock %}
