{% extends "base.html" %}

{% block css %}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
}

th {
    background-color: #1f1f1f;
    color: white;
}

tr:nth-child(even) {
    background-color: #181818;
}

tr:nth-child(odd) {
    background-color: #222;
}
{% endblock %}

{% block body %}
    <div>
        {% if nodes %}
            <table>
                <thead>
                    <tr>
                        <th>Long Name</th>
                        <th>Short Name</th>
                        <th>HW Model</th>
                        <th>Firmware</th>
                        <th>Role</th>
                        <th>Last Latitude</th>
                        <th>Last Longitude</th>
                        <th>Channel</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for node in nodes %}
                        <tr>
                            <td> <a href="/packet_list/{{node.node_id }}">{{node.long_name}}</a></td>
                            <td>{{ node.short_name }}</td>
                            <td><a href="/nodelist?hw_model={{node.hw_model}}">{{node.hw_model if node.hw_model else "N/A"}}</a></td>
                            <td>{{ node.firmware }}</td>
                            <td><a href="/nodelist?role={{node.role}}">{{node.role if node.role else "N/A"}}</a></td>
                            <td>{{ "{:.7f}".format(node.last_lat / 10**7)  if node.last_lat else "N/A" }}</td>
                            <td>{{ "{:.7f}".format(node.last_long / 10**7) if node.last_long else "N/A" }}</td>
                            <td><a href="/nodelist?channel={{node.channel}}">{{node.channel if node.channel else "N/A"}}</a></td>
                            <td>{{ node.last_update.strftime('%-I:%M:%S %p - %m-%d-%Y') if node.last_update else "N/A" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No nodes found.</p>
        {% endif %}
    </div>
{% endblock %}
