<div id="details_map"></div>

{% for seen in packets_seen %}
<div class="card mt-2">
    <div class="card-header">
        {{seen.node.long_name}}(
        <a hx-target="#node" href="/node_search?q={{seen.node_id|node_id_to_hex}}">
        {{seen.node_id|node_id_to_hex}}
        </a>
        )
    </div>
    <div class="card-body">
        <div class="card-text text-start">
            <dl>
                <dt>Import Time</dt>
                <dd>{{seen.import_time.strftime('%-I:%M:%S %p - %m-%d-%Y')}}</dd>
                <dt>rx_time</dt>
                <dd>{{seen.rx_time|format_timestamp}}</dd>
                <dt>hop_limit</dt>
                <dd>{{seen.hop_limit}}</dd>
                <dt>hop_start</dt>
                <dd>{{seen.hop_start}}</dd>
                <dt>channel</dt>
                <dd>{{seen.channel}}</dd>
                <dt>rx_snr</dt>
                <dd>{{seen.rx_snr}}</dd>
                <dt>rx_rssi</dt>
                <dd>{{seen.rx_rssi}}</dd>
                <dt>topic</dt>
                <dd>{{seen.topic}}</dd>
            </dl>
        </div>
    </div>
</div>
{% endfor %}

{% if map_center %}
<script>
    var details_map = L.map('details_map').setView({{ map_center | tojson }}, 12);
    var markers = L.featureGroup();
    markers.addTo(details_map);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(details_map);

    // Function to calculate distance in miles
    function getDistanceInMiles(latlng1, latlng2) {
        var meters = latlng1.distanceTo(latlng2); // Get distance in meters
        return meters * 0.000621371; // Convert meters to miles
    }

    {% if from_node_cord %}
    var fromNodeLatLng = L.latLng({{ from_node_cord | tojson }});

    var fromNode = L.circleMarker(fromNodeLatLng, {
        radius: 10,
        color: 'red',
        weight: 1,
        fillColor: 'red',
        fillOpacity: .5
    }).addTo(markers);

    // Add tooltip for the from_node_cord
    fromNode.bindPopup(`
        Sent by:   <b>{{node.long_name}}</b><br/>
        <b>Short:</b> {{node.short_name}}<br/>
        <b>Channel:</b> {{node.channel}}<br/>
        <b>Hardware:</b> {{node.hw_model}}<br/>
        <b>Role:</b> {{node.role}}<br/>
        <b>Firmware:</b> {{node.firmware}}<br/>
        <b>Coordinates:</b> [{{node.last_lat}}, {{node.last_long}}]
    `, { permanent: false, direction: 'top', opacity: 0.9 });
    {% endif %}

    {% for u in uplinked_nodes %}
        var uplinkNodeLatLng = L.latLng([{{ u.lat }}, {{ u.long }}]);

        // Calculate distance in miles
        var distanceMiles = getDistanceInMiles(fromNodeLatLng, uplinkNodeLatLng).toFixed(1);

/*
        var node = L.circleMarker(uplinkNodeLatLng, {
            radius: 6,
            color: 'blue',
            weight: 1,
            fillColor: 'blue',
            fillOpacity: 0.4
        }).addTo(markers);
*/

		var node = L.marker(uplinkNodeLatLng, {
		    icon: L.divIcon({
		        className: 'text-icon',  // Custom class for styling
        		html: '<div style="font-size: 12px; color: white; font-weight: bold; display: flex; justify-content: center; align-items: center; height: 16px; width: 16px; border-radius: 50%; background-color: blue; border: 1px solid blue;">{{u.hops}}</div>',
		        iconSize: [16, 16],  // Size of the icon container
		        iconAnchor: [8, 8]  // Anchoring the text to the center of the marker
		    })
		}).addTo(markers);
		node.setZIndexOffset({{u.hops}}*-1);

        // Add a tooltip with node details and distance
        node.bindPopup(`
            Heard by: <b>{{u.long_name}}</b><br>
            <b>[{{ u.short_name }}]</b><br/>
            <b>Hops:</b> {{ u.hops }}<br/>
            <b>SNR:</b> {{ u.snr }}<br/>
            <b>RSSI:</b> {{ u.rssi }}<br/>
            <b>Distance:</b> ${distanceMiles} miles <br/>
            <b>Coordinates:</b> [{{u.lat}}, {{u.long}}]
        `, { permanent: false, direction: 'top', opacity: 0.9 });

    {% endfor %}

    if (markers.getLayers().length > 0) {
        details_map.fitBounds(markers.getBounds().pad(0.1), { animate: true });
    }

    // Ensure markers are added before adjusting map bounds
    setTimeout(() => {
        if (markers.getLayers().length > 0) {
            details_map.fitBounds(markers.getBounds().pad(0.1), { animate: true });
        }
    }, 500); // Delay to ensure markers load

    // Add a legend to details_map
    var legend = L.control({ position: 'bottomleft' });

    legend.onAdd = function(map) {
        var div = L.DomUtil.create('div', 'info legend');
        div.style.background = 'white';
        div.style.padding = '8px';
        div.style.border = '1px solid black';
        div.style.borderRadius = '5px';
        div.style.boxShadow = '0 0 5px rgba(0,0,0,0.3)';
        div.style.color = 'black'; // Ensure text is black
        div.style.textAlign = 'left'; /* Ensure left alignment */
        div.innerHTML = `
            <b>Legend</b><br>
            <svg width="20" height="20">
                <circle cx="8" cy="8" r="6" fill="blue" stroke="blue" stroke-width="1" fill-opacity="0.9"/>
            </svg> Receiving Node (Number is hop count)<br>
            <svg width="20" height="20">
                <circle cx="10" cy="10" r="8" fill="red" stroke="red" stroke-width="1" fill-opacity="0.4"/>
            </svg> Sending Node<br>
        `;
        return div;
    };

    legend.addTo(details_map);
</script>



{% endif %}
